<app-select
  [data]="Categories"
  (SelectedValue)="changeCat($event)"
></app-select>
<div class="box">
  <ng-container *ngIf="!loading">
    <div
      class="item"
      *ngFor="
        let item of prdList
          | paginate
            : { itemsPerPage: 10, currentPage: page, totalItems: count };
        let i = index
      "
    >
      <app-item
        [data]="item"
        [count]="count"
        [page]="page"
        (item)="addToCart($event)"
      ></app-item>
    </div>
  </ng-container>
</div>
<div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>

  <div class="text-center w-100" *ngIf="loading">
    <app-spinner></app-spinner>
  </div>
</div>
