<select class="form-control w-25 mt-10" (change)="changeCat($event)">
  <option value="0" selected>All</option>
  <option value="1">electronics</option>
  <option value="2">jewelery</option>
  <option value="3">men's clothing</option>
  <option value="4">women's clothing</option>
</select>
<div class="box">
  <div
    class="item"
    *ngFor="
      let item of prdList
        | paginate
          : { itemsPerPage: tableSize, currentPage: page, totalItems: count };
      let i = index
    "
  >
    <img [src]="item.image" [alt]="item.title" />
    <div class="body">
      <h4>{{ item.title }}</h4>
      <p>{{ item.description }}</p>
    </div>
    <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
      <button class="btn btn-success">Add To Cart</button>
      <span>{{ item.price }} L.E</span>
    </div>
  </div>
</div>
<div>
  <pagination-controls
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)"
  >
  </pagination-controls>
</div>
