<div class="cartBox">
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart" *ngIf="Cartexist">
    <p class="lead">
      You have <label class="text-danger">2</label> item(s) in your cart
    </p>
    <span class="text-danger card-header">Clear Shopping Cart</span>
  </div>
  <table class="table table-striped" *ngIf="Cartexist">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th style="width: 25%">Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of cartItems">
        <td><img [src]="prd.item.image" [alt]="prd.item.title" /></td>
        <td>{{ prd.item.title }}</td>
        <td>{{ prd.item.price }} L.E</td>
        <td>
          <div class="quantity">
            <button class="btn btn-dark">+</button>
            <input
              class="form-control"
              type="number"
              min="1"
              [(ngModel)]="prd.quantity"
            />
            <button class="btn btn-dark">-</button>
          </div>
        </td>
        <td>{{ prd.item.price * prd.quantity }}.LE</td>
        <td><button class="btn btn-danger">Delete</button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total : {{ total }} L.E</th>
        <th><button class="btn btn-success">Order Now</button></th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success" role="alert" *ngIf="Cartexist">
  <strong>Well done!</strong> Your Order is Successfully Send
</div>
<div *ngIf="!Cartexist" class="alert alert-danger">
  <strong>No Items in Cart</strong>
</div>
