<div class="cartBox" *ngIf="!order">
  <h1 class="text-danger">Shopping Cart</h1>
  <div class="headCart" *ngIf="Cartexist">
    <p class="lead">
      You have <label class="text-danger">{{ cartItems.length }}</label> item(s)
      in your cart
    </p>
    <span class="text-danger card-header" (click)="clearCart()"
      >Clear Shopping Cart</span
    >
  </div>
  <table class="table table-striped" *ngIf="Cartexist && !order">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th style="width: 25%">Quantity</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of cartItems; let i = index">
        <td><img [src]="prd.item.image" [alt]="prd.item.title" /></td>
        <td>{{ prd.item.title }}</td>
        <td>{{ prd.item.price }} L.E</td>
        <td>
          <div class="quantity">
            <button class="btn btn-dark" (click)="increase(i)">+</button>
            <input
              class="form-control"
              type="number"
              min="1"
              [(ngModel)]="prd.quantity"
              (change)="updateTotal($event, prd.item.id)"
            />
            <button class="btn btn-dark" (click)="decrease(i)">-</button>
          </div>
        </td>
        <td>{{ prd.item.price * prd.quantity }} L.E</td>
        <td>
          <button class="btn btn-danger" (click)="removeItem(i)">Delete</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Total : {{ total }} L.E</th>
        <th>
          <button class="btn btn-success" (click)="saveCartToApi()">
            Order Now
          </button>
        </th>
      </tr>
    </tfoot>
  </table>
</div>
<div class="alert alert-success mt-10" role="alert" *ngIf="order">
  <strong>Well done!</strong> Your Order is Successfully Send
</div>
<div *ngIf="!Cartexist" class="alert alert-danger">
  <strong>No Items in Cart</strong>
</div>
